html,
body,
  {
  height: 100%;
  margin: 0;
}

/* global list css */

/* li {
  padding: 10px;
} */

ul {
  list-style-type: circle;
}

/* Footer global css */

Footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

/* Custom css */
#mt {
  margin-top: 10%;
}

.section {
  min-height: 100%;
}

.editor {
  max-height: 30vh;
  position: absolute;
  bottom: 10%;
  overflow-y: auto;
}

/* SideNAv css */
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/* Onboard back */
.onboard-back {
  min-height: 100vh;
  padding: 0;
  margin-bottom: 0;
}

.create-team-button {
  margin-top: 5%;
}

/* Team-card-css */
.team-card {
  min-height: 80%;
  position: absolute;
  width: 100%;
}

/* Request card */
.request-back {
  padding: 2%;
}