html,
body,
  {
  height: 100%;
  margin: 0;
}

/* global list css */

/* li {
  padding: 10px;
} */

ul {
  list-style-type: circle;
}

/* Footer global css */

Footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
}

/* Custom css */
#mt {
  margin-top: 10%;
}

.section {
  min-height: 100%;
}

/* SideNAv css */
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}